<div class="container">
  <h3 class="center">Add Product to Cart</h3>
  <%= form_for @carts_product do |f|  %>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <%= f.label :quantity %>
          <%= f.number_field :quantity %>
        </div>
        <div class="row center">
          <%= f.submit 'Add to Cart', :class => "waves-effect waves-light btn" %>
        </div>
      </form>
    </div>
    <% end %>
</div>
